body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
[data-testid="slackUserName"]{
    font-size: 25px;
    color: red;
    font-family: sans-serif;
}

.profilepic{
    width: 300px;
}
[data-testid="slackDisplayImage"]{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.track{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.utc{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}